<title>冠军惠-我们的故事</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/03meiti1.css" />
<script src="/public/home/js/jquery.1.9.1.js"></script>

<link rel="stylesheet" href="/public/home/css/minirefresh.min.css" />
<link rel="stylesheet" href="/public/home/css/common.css" />

</head>
<body>
<div class="conter">  
  <div class="head">
    <a href="javascript:history.back();" class="head-0">
        <img src="/public/home/images/01zhuce3.png" alt="">
    </a>
    <p>我们的故事<?php if($member->level == 2):?><a href="/story/mypress"><img src="/public/home/images/fagao.png" alt="" class="fagao" /></a><?php endif;?></p>
  </div>
  <div class="nav">
      <span><a href="/story/index/zx" <?php if($class == 'zx'):?>class="xs"<?php endif;?>>媒体资讯</a></span>
      <span><a href="/story/index/zl" <?php if($class == 'zl'):?>class="xs"<?php endif;?>>活动资料</a></span>
  </div>

  <div id="minirefresh" class="minirefresh-wrap" style="margin-top: 108px;">
      <div class="minirefresh-scroll">
        <div class="data-list" id="listdata">

        </div>
      </div>
  </div>

  <script type="text/javascript" src="/public/home/js/minirefresh.min.js"></script>

  <script>
                    
    var i = 1;
    var counterArr = [0];
    var str = '';
    var appendTestData = function(dom, count, isReset, index) {
        if (typeof dom === 'string') {
            dom = document.querySelector(dom);
        }
        
        var prevTitle = typeof index !== 'undefined' ? ('Tab' + index) : '';
        
        var counterIndex = index || 0;
        
        counterArr[counterIndex] = counterArr[counterIndex] || 0;

        if (isReset) {
            dom.innerHTML = '';
            counterArr[counterIndex] = 0;
        }
        
        $.ajax({
          type: "GET",
          url: "/story/getdata/<?php echo $class;?>",
          data: {'page': i},
          dataType: "json",
          async:false,
          success: function (json) {

            if(json != 0){

              $(json).each(function () {
               
                <?php if($class == 'zx'):?>
                  if(this.type==1){
                    str += '<a href="/story/zxdetail/'+this.id+'" class="art">';
                  }else if(this.type==2){
                    str += '<a href="'+this.content+'" class="art">';
                  }
                  str += '<img src="/'+this.attach+'" alt="" /><p class="art-1">'+this.title+'</p><p class="art-2">发布者：<span class="sp1">'+this.realname+'</span></p><p class="art-3">'+this.content+'</p></a>';
                <?php elseif($class == 'zl'):?>
                    str += '<a href="/story/zldetail/'+this.id+'" class="art"><img src="/'+this.pic+'" alt=""><p class="art-1">'+this.title+'</p><p class="art-2">活动时间：'+this.startDate+'/'+this.endDate+'</p></a>';
                <?php endif;?>
                str += '</div>';
                
              });

              i++;

            }
            
          }
        });

        var child = parseHtml(str);

        dom.appendChild(child);
    };

    // 记录一个最新
    var maxDataSize = <?php echo $total;?>,
        listDom = document.querySelector('#listdata'),
        requestDelayTime = 600;

    var miniRefresh = new MiniRefresh({
        container: '#minirefresh',
        down: {
            callback: function() {
                setTimeout(function() {
                    // 每次下拉刷新后，上拉的状态会被自动重置
                    appendTestData(listDom, 3, true);
                    miniRefresh.endDownLoading(true);
                }, requestDelayTime);
            }
        },
        up: {
            isAuto: true,
            callback: function() {
                setTimeout(function() {
                    appendTestData(listDom, 3);
                    miniRefresh.endUpLoading(listDom.children.length >= maxDataSize ? true : false);
                }, requestDelayTime);
            }
        }
    });

  </script>