<title>冠军惠-活动视频</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/04shangchuan2.css" />
<script src="/public/home/js/jquery.1.9.1.js"></script>

<link rel="stylesheet" href="/public/home/css/minirefresh.min.css" />
<link rel="stylesheet" href="/public/home/css/common.css" />

<script src="/public/home/js/share.js"></script>

</head>
<body>
<div class="conter">  
  <div class="head">
    <a href="javascript:history.back();" class="head-0">
        <img src="/public/home/images/01zhuce3.png" alt="" />
    </a>
    <p>活动视频</p>
  </div>
 
  <div id="minirefresh" class="minirefresh-wrap" style="top: 55px;">
      <div class="minirefresh-scroll">
        <div class="data-list" id="listdata">

        </div>
      </div>
  </div>

  <script type="text/javascript" src="/public/home/js/minirefresh.min.js"></script>

  <script>
                    
    var i = 1;
    var counterArr = [0];
    var str = '';

    var appendTestData = function(dom, count, isReset, index) {
        if (typeof dom === 'string') {
            dom = document.querySelector(dom);
        }
        
        var prevTitle = typeof index !== 'undefined' ? ('Tab' + index) : '';
        
        var counterIndex = index || 0;
        
        counterArr[counterIndex] = counterArr[counterIndex] || 0;

        if (isReset) {
            dom.innerHTML = '';
            counterArr[counterIndex] = 0;
        }
     
        $.ajax({
            type: "GET",
            url: "/story/ajaxvideo/<?php echo $id;?>",
            data: {'file':'ajax','page': i},
            dataType: "json",
            async:false,
            success: function (json) {

              if(json != 0){

                $(json).each(function () {

                  str += '<div class="art"><div class="art1"><p class="art1-1">'+this.title+'</p><div class="art1-2">'+this.content+'</div><p class="art1-3"><span class="art1-31"><img src="'+this.head+'" alt=""></span><span class="art1-32">上传者：'+this.author+'</span><span class="art1-33">'+this.date+'</span><a class="scang collect" data-id="'+this.id+'">';
                    if(this.collect == 1){
                      str += '<img src="/public/home/images/shoucang_1.png" alt="" />';
                    }else{
                      str += '<img src="/public/home/images/shoucang.png" alt="" />';
                    }
                    str +='</a><a class="praise art1-34" data-id="'+this.id+'">';
                    if(this.isPraise == 1){
                      str += '<img src="/public/home/images/zan_1.png" alt="" />';
                    }else{
                      str += '<img src="/public/home/images/zan.png" alt="" />';
                    }
                    str += '<span>'+this.praise+'</span></a></p></div></div>';
                  
                });

                i++;

              }
              
            }
          });

        var child = parseHtml(str);

        dom.appendChild(child);

    };

    // 记录一个最新
    var maxDataSize = <?php echo $total;?>,listDom = document.querySelector('#listdata'),
        requestDelayTime = 600;

    var miniRefresh = new MiniRefresh({
        container: '#minirefresh',
        down: {
            callback: function() {
                setTimeout(function() {
                    // 每次下拉刷新后，上拉的状态会被自动重置
                    appendTestData(listDom, 5, true);
                    miniRefresh.endDownLoading(true);
                }, requestDelayTime);
            }
        },
        up: {
            isAuto: true,
            callback: function() {
                setTimeout(function() {
                    appendTestData(listDom, 5, true);
                    miniRefresh.endUpLoading(listDom.children.length >= maxDataSize ? true : false);
                }, requestDelayTime);
            }
        }
    });

    $(function () {

      $('iframe').width('100%');
      $('iframe').height('auto');
    
      //视频点赞
      $(".conter").delegate(".praise","click",function(){
        var area = $(this);
        var id = area.attr("data-id");
        var num = parseInt(area.find("span").text());
        $.ajax({  
          type: "POST",  
          url: "/activity/praise",  
          data: {"id":id},
          cache: false,
          beforeSend: function(){
          },  
          success: function(data){ 
            var text = data.replace(/\s/g, "");
            area.find("span").text(num+parseInt(data));
            if(text == 1){
              $(area).find("img").attr("src","/public/home/images/zan_1.png");
            }else if(text == -1){
              $(area).find("img").attr("src","/public/home/images/zan.png");
            }
          },
          error: function(jqXHR, textStatus, errorMsg){
          }   
        });
      });

      //视频收藏
      $(".conter").delegate(".collect","click",function(){
        var area = $(this);
        var id = area.attr("data-id");
        $.ajax({  
          type: "POST",  
          url: "/story/collect",  
          data: {"id":id},
          cache: false,
          beforeSend: function(){
          },  
          success: function(data){ 
            var v = data.replace(/\s/g, "");
            if(v == 1){
              area.find("img").attr("src","/public/home/images/shoucang_1.png");
            }else if(v == -1){
              area.find("img").attr("src","/public/home/images/shoucang.png");
            }
          },
          error: function(jqXHR, textStatus, errorMsg){
          }   
        });
      });

    });

  </script>
  <!--
  <div class="fenxiang">
    <div>
      <p class="fenxiang-1">
        <span>分享到</span>
      </p>
      <p class="fenxiang-2">
        <a href="javascript:shareTo('sina','活动视频','','<?php echo $title;?>')"><img src="/public/home/images/fenx1.png" alt=""><span>微博</span></a>
        <a href="javascript:shareTo('wechat')"><img src="/public/home/images/fenx2.png" alt=""><span>微信</span></a>
        <a href="javascript:shareTo('qzone','活动视频','','<?php echo $title;?>')"><img src="/public/home/images/fenx4.png" alt=""><span>QQ空间</span></a>
        <a href="javascript:shareTo('qq','活动视频','','<?php echo $title;?>')"><img src="/public/home/images/fenx5.png" alt=""><span>QQ</span></a>
      </p>
      <a class="fenxiang-3">取消</a>
    </div>
  </div>
  -->