    <div class="centercontent">
        
        <div id="contentwrapper" class="contentwrapper">

            <div class="contenttitle2">
                <h3>留言反馈详情</h3>
            </div><!--contenttitle-->
            
            <div id="validation" class="subcontent">

                <form class="stdform stdform2">

                    <p>
                        <label>内容</label>
                        <span class="field"><?php echo $content;?></span>
                    </p>

                    <p>
                        <label>时间</label>
                        <span class="field"><?php echo $createTime;?></span>
                    </p>
                    
                    <p>
                        <label></label>
                        <span class="field"><button type="button" class="backbutton" onclick="history.back()">返 回</button></span>
                    </p>

                </form>

            </div><!--subcontent-->
        
        </div><!--contentwrapper-->
        
    </div><!-- centercontent -->
    
</div><!--bodywrapper-->

</body>
</html>
