<title>冠军惠-证明查询</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/09chaxun2.css" />
</head>
<body>
<div class="conter">
 	
 	<div class="head">
 		<a href="javascript:history.back();" class="head-0">
 			<img src="/public/home/images/01zhuce3.png" alt="" />
 		</a>
 		<p>证明查询</p>
        <a class="head-1" href="tel:13889467368">
            <img src="/public/home/images/02jihuo1.png" alt="" />
        </a>
 	</div>
  
  <div class="art">
    <div class="title"><?php echo $title;?></div>
    <div>
      <span>主办单位：</span>
      <p><?php echo $sponsor;?></p>
    </div>
    <div>
      <span>承办单位：</span>
      <p><?php echo $organizer;?></p>
    </div>
    <div>
      <span>活动地点：</span>
      <p><?php echo $activityAddress;?></p>
    </div>
    <div>
      <span>活动方案：</span>
      <p><?php echo $activityScheme;?></p>
    </div>
    <div>
      <span>服务编号：</span>
      <p><?php echo $serviceNumber;?></p>
    </div>
    <div>
      <span>活动性质：</span>
      <p><?php echo $activityNature;?></p>
    </div>
    <div>
      <span>积分奖励：</span>
      <p><?php echo $integral;?></p>
    </div>
    <div>
      <span>招募人数：</span>
      <p><?php echo $recruitment;?></p>
    </div>
  </div>