<title>冠军惠-证明查询</title>
<link rel="stylesheet" href="/public/home/css/jqalert.css" />
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/09chaxun1.css" />
<script src="/public/home/js/jquery.1.9.1.js"></script>
<script src="/public/home/js/jqalert.js"></script>
</head>
<body>
<div class="conter">
 	
 	<div class="head">
 		<a href="/" class="head-0">
 			<img src="/public/home/images/01zhuce3.png" alt="" />
 		</a>
 		<p>证明查询</p>
        <a class="head-1" href="tel:13889467368">
            <img src="/public/home/images/02jihuo1.png" alt="" />
        </a>
 	</div>
  
  <form id="seachForm" name="seachForm" method="POST" action="/proveseach/result">
    <div class="art">
       <input type="text" name="keywords" id="keywords" placeholder="请输入志愿服务编号" />
    </div>
    <button type="submit" id="submit" class="chaxun">查询</button>
  </form>
  <script type="text/javascript">
    $(function(){
      $("#submit").click(function(){
        if($('#keywords').val() == ''){
          jqalert({
            title: '提示',
            content: '志愿服务编号必填'
          });
          return false;
        }
      });
    })
  </script>