<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title></title>
<style>
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 16px;
	font-family: "微软雅黑";
	background-color: #f5f5f5;
}
div{
	width: 80%;
	max-width: 480px;
	margin-top: 10%;
	margin-left: 10%;
	border: solid 1px #D0D0D0;
}
p{
	line-height: 45px;
	padding-left: 3%;
	text-align: center;
}
.prompt{
	background-color: #D0D0D0;
	color: #4d4d4d;
	line-height: 55px;
	font-size: 17px;
}
a{
	color: #0174f6;
}
</style>
</head>
<body>
    <div>
    	<p class="prompt">提示！</p>
    	<p>信息不存在<a href="javascript:history.back();">返回</a></p>
    </div>
</body>
</html>