<?php $this->load->view('templates/header.html');?>
<title>冠军惠-注册</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/01zhuce.css" />
</head>
<body>
<div class="conter">
    
    <div class="head">
        <a href="javascript:history.back();" class="head-0">
            <img src="/public/home/images/01zhuce3.png" alt="" >
        </a>
        <p>注册/激活</p>
    </div>
    
    <div class="art">
        <p>请选择身份</p>
        <a href="/member/active">
            <img src="/public/home/images/01zhuce1.png" alt="" />
            <p>冠军账号激活</p>
        </a>
        <span></span>
        <a href="/member/volunteerreg" class="art1">
            <img src="/public/home/images/01zhuce2.png" alt="" />
            <p>志愿者注册</p>
        </a>
        <a href="/member/generalreg" class="art2">
            <img src="/public/home/images/01zhuce4.png" alt="" />
            <p>普通会员注册</p>
        </a>

    </div>

</div>   
</body>
</html>

