    <div class="centercontent tables">
    
        <div id="contentwrapper" class="contentwrapper">
                
            <div class="contenttitle2">
            	<h3>轮播新闻管理</h3>
            </div><!--contenttitle-->

            <div class="tableoptions">
                <form method="GET" action="">
                    <label>
                        <input type="text" name="title" id="title" placeholder="标题" value="<?php echo $title;?>" class="smallinput"/>
                    </label>
                    &nbsp;
                    <button type="submit">查询</button>
                    <button type="button" class="backbutton" onclick="history.back()">返 回</button>
                    <button type="button" onclick="window.location.href='/admin.php/slide/add'" class="floatright">添加新闻</button>
                </form>
            </div>

            <!--tableoptions-->	

            <form name="form" id="form" method="POST" action="/admin.php/slide/del">
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablecb" id="tab">
                    <thead>
                        <tr>
                            <th class="head0">
                                <input type="checkbox" class="checkall"/>
                            </th>
                            <th class="head0">图片</th>
                            <th class="head0">标题</th>
                            <th class="head3">时间</th>
                            <th class="head0">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if($rows):?>
                        <?php foreach ($rows as $k => $val):?>
                        <tr>
                            <td>
                                <input type="checkbox" name="id[]" value="<?php echo $val->id;?>" />
                            </td>
                            <td>
                                <img src="/<?php echo $val->pic; ?>" alt="" height="150"/>
                            </td>
                            <td>
                                <?php echo $val->title; ?>
                            </td>
                            <td class="head3">
                                <?php echo $val->createTime; ?>
                            </td>
                            <td class="center">
                                <a href="<?php echo site_url('slide/edit/'.$val->id); ?>">编辑</a> / <a data-href="<?php echo site_url('slide/del/'.$val->id); ?>" class="delete">删除</a> / <a href="<?php echo site_url('comment/index/slide/'.$val->id); ?>">评论</a>                       
                            </td>
                        </tr>
                        <?php endforeach;?>
                    <?php else:?>
                        <tr><td colspan="5" align="center">暂无信息...</td></tr>
                    <?php endif;?>
                    </tbody>
                </table>
                <div class="dataTables_paginate paging_full_titles" id="dyntable_paginate">
                    <button type="button" class="deletebutton">删除选中</button>
                    <?php echo $page;?>
                </div>
            </form>
        
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
