<title>冠军惠-通知详情</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/07tongzhi.css" />
</head>
<body>
<div class="conter">
  
  <div class="head">
    <a href="" class="head-0">
      <img src="/public/home/images/01zhuce3.png" alt="" />
    </a>
    <p>系统通知</p>
    <a href="" class="head-1">
        <img src="/public/home/images/07wenjuan1.png" alt="" />
    </a>
  </div>

  <p class="title"><?php echo $title;?></p>
    <p class="date"><?php echo $createTime;?></p>
    <div class="art">
       <?php echo $content;?>
    </div>
    
    <a href="" class="shoucang">
      <img src="/public/home/images/03huodong4.png" alt="">
    </a>