  <script type="text/javascript">
    function imtip(){
      jqalert({
        title: '提示',
        content: '暂无权限访问'
      });
    }
  </script>
  <div class="gaodu"></div>
  <div class="footer">
    <a href="/index">
      <img src="/public/home/images/<?php if($cmenu == '' || $cmenu == 'Index'):?>1<?php else:?>11<?php endif;?>.png" alt="" />
      <span>首页</span>
    </a>
    <a href="/story/index/zx">
      <img src="/public/home/images/<?php if($cmenu == 'Story'):?>2<?php else:?>22<?php endif;?>.png" alt="" />
      <span>我们的故事</span>
    </a>
    <a href="/activity">
      <img src="/public/home/images/<?php if($cmenu == 'Activity'):?>3<?php else:?>33<?php endif;?>.png" alt="" />
      <span>志愿服务</span>
    </a>
    <a href="<?php if($this->session->member->level == 1):?>http://192.168.0.191/webIM/web/<?php else:?>javascript:imtip();<?php endif;?>">
      <img src="/public/home/images/44.png" alt="" />
      <span>即时通讯</span>
    </a>
    <a href="/user">
      <img src="/public/home/images/<?php if($cmenu == 'User'):?>5<?php else:?>55<?php endif;?>.png" alt="" />
      <span>我的</span>
    </a>
  </div>
</div>   
</body>
</html>