<title>冠军惠-活动美文详情</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/03huodong2.css" />
<script src="/public/home/js/jquery.1.9.1.js"></script>
</head>
<body>
<div class="conter">
  
  <div class="head">
    <a href="javascript:history.back();" class="head-0">
      <img src="/public/home/images/01zhuce3.png" alt="">
    </a>
    <p>活动美文</p>
    <a href="" class="head-1">
        <img src="/public/home/images/03zhiyuan4.png" alt="">
    </a>
  </div>

  <div class="line"></div>
  <div class="art">
    <p class="title">美文：<?php echo $title;?></p>
    <p class="art1">
      <span>上传者：<?php echo $nickname;?></span><br/>
      <span>上传时间：<?php echo $createTime;?></span>
    </p>
    <p class="art2">
      <?php echo $content;?>
    </p>
  </div>
  <!--  
  <p class="art3">
    <a href="" class="art3-1">
      <img src="/public/home/images/03huodong3.png" alt="">
      <span><?php echo $praise;?></span>
    </a>
    <a href="" class="art3-2">
      <img src="/public/home/images/03huodong4.png" alt="">
    </a>
  </p>
  -->
</div>   
</body>
</html>