<title>冠军惠-活动美文详情</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/03huodong2.css" />
<script src="/public/home/js/jquery.1.9.1.js"></script>
</head>
<body>
<div class="conter">
  
  <div class="head">
    <a href="javascript:history.back();" class="head-0">
      <img src="/public/home/images/01zhuce3.png" alt="" />
    </a>
    <p>活动美文</p>
    <a href="" class="head-1">
        <img src="/public/home/images/03zhiyuan4.png" alt="" />
    </a>
  </div>

  <div class="line"></div>
  <div class="art">
    <p class="title">美文：<?php echo $title;?></p>
    <p class="art1">
      <span>上传者：<?php echo $nickname;?></span><br/>
      <span>上传时间：<?php echo $createTime;?></span>
    </p>
    <p class="art2">
      <?php echo $content;?>
    </p>
  </div>
 
  <p class="art3" data-id="<?php echo $id;?>">
    <a class="art3-1 praise">
      <img src="/public/home/images/<?php if($isPraise == 1):?>zan_1.png<?php else:?>zan.png<?php endif;?>" alt="" />
      <span><?php echo $praise;?></span>
    </a>
    <a class="art3-2 collect">
      <img src="/public/home/images/<?php if($isCollect == 1):?>shoucang_1.png<?php else:?>shoucang.png<?php endif;?>" alt="" />
    </a>
  </p>
  <script type="text/javascript">
  $(function(){

    //文章点赞
    $(".praise").click(function(){
      var area = $(this);
      var id = area.parent().attr("data-id");
      var num = parseInt(area.find("span").text());
      $.ajax({  
        type: "POST",  
        url: "/activity/praise",  
        data: {"id":id},
        cache: false,
        beforeSend: function(){
        },  
        success: function(data){ 
          var text = data.replace(/\s/g, "");
          area.find("span").text(num+parseInt(data));
          if(text == 1){
            $(area).find("img").attr("src","/public/home/images/zan_1.png");
          }else if(text == -1){
            $(area).find("img").attr("src","/public/home/images/zan.png");
          }
        },
        error: function(jqXHR, textStatus, errorMsg){
        }   
      });
    });

    //文章收藏
    $(".collect").click(function(){
      var area = $(this);
      var id = area.parent().attr("data-id");
      $.ajax({  
        type: "POST",  
        url: "/activity/collect",  
        data: {"id":id},
        cache: false,
        beforeSend: function(){
        },  
        success: function(data){ 
          var v = data.replace(/\s/g, "");
          if(v == 1){
            area.find("img").attr("src","/public/home/images/shoucang_1.png");
          }else if(v == -1){
            area.find("img").attr("src","/public/home/images/shoucang.png");
          }
        },
        error: function(jqXHR, textStatus, errorMsg){
        }   
      });
    });

  });
  </script>
</div>   
</body>
</html>