<title>冠军惠-发稿规则</title>
<link rel="stylesheet" href="/public/home/css/head-foot.css" />
<link rel="stylesheet" href="/public/home/css/03huodong2.css" />
<script src="/public/home/js/jquery.1.9.1.js"></script>
</head>
<body>
<div class="conter">
  
  <div class="head">
    <a href="javascript:history.back();" class="head-0">
      <img src="/public/home/images/01zhuce3.png" alt="">
    </a>
    <p>发稿规则</p>
  </div>

  <div class="line"></div>
  <div class="art">
    <p class="art2">
      <?php echo $content;?>
    </p>
  </div>
  
</div>   
</body>
</html>