.art{
	width: 100%%;
	height: auto;
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 2px;
}
.art1{
	width: 96%;
	margin-left: 2%;
	position: relative;
	margin-bottom: 15px;
}
.art1-2>embed{
	width: 100%;
	height: 200px;
}
.art1-1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 96%;
	padding: 2%;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
}
.art1-1>span{
	float: right;
}
.art1-3{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 98%;
	height: 60px;
	padding-left: 2%;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
}
.art1-31>img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
}
.art1-32{
	display: block;
    margin-top: 10px;
}
.art1-33{
    display: block;
    font-size: 12px;
}
.art1-34{
   position: absolute;
   bottom: 10px;
   right: 3%;
   color: #fff;
   text-decoration: none;
}
.art1-34>img{
	margin-right: 8px;
}


/*弹出层*/
.tanc{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
}
.tanc-0{
	float: left;
	margin-top: 30%;
	margin-left: 3%;
	color: #fff;
}
.del{
	float: right;
	margin-top: 30%;
	margin-right: 3%;
}
.tanc-1{
	width: 100%;
	margin-top: 3%;
}
.user{
	width: 90%;
	margin-left: 5%;
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
	color: #fff;
}
.user>img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.user1{
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 5px;
	left: 40px;
}
.user2{
	color: #fff;
	font-size: 12px;
	position: absolute;
	bottom: 8px;
	left: 40px;
}
.user-1{
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 18px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
}
.user-1>img{
	margin-right: 5px;
}
.user-2{
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 18px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
}
.user>a>img{
	width: 18px;
}