  <?php if($this->session->member && $this->session->member->level != 0):?>
  <div class="comments" id="Smohan_FaceBox">
    <a href="javascript:;" class="xiaolian"><img src="/public/home/images/06shipin5.png" alt=""></a>
    <input type="text" name="comment" id="comment" placeholder="期待您的评论" class="inp" />
    <!--<a href="" class="jiahao"><img src="/public/home/images/04baoming3.png" alt=""></a>-->
    <a href="javascript:;" class="comments-2"><img src="/public/home/images/06shipin4.png" alt=""></a>
    <input type="hidden" id="sign" />
    <input type="hidden" id="nid" />
  </div>
  <?php endif;?>